@model ClinicaWebApp.Models.Pago.PagoO

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_LayoutPaciente.cshtml";
    var pacienteId = Context.Session.GetInt32("PacienteId");
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm border-primary">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title mb-0">
                    <i class="fas fa-cash-register" style="margin-right: 15px;"></i>Ingresar Datos de Pago
                </h2>
            </div>

            <div class="card-body">
                <form asp-action="Crear" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-3">
                        <label asp-for="MontoPago" class="form-label fw-bold text-primary">
                            <i class="fas fa-hand-holding-usd" style="margin-right: 8px;"></i>@Html.DisplayNameFor(m => m.MontoPago)
                        </label>
                        <input asp-for="MontoPago" class="form-control" value="50" readonly />
                        <span asp-validation-for="MontoPago" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="TipoPago" class="form-label fw-bold text-primary">
                            <i class="fas fa-credit-card" style="margin-right: 8px;"></i>@Html.DisplayNameFor(m => m.TipoPago)
                        </label>
                        @Html.DropDownListFor(model => model.TipoPago,
                                 (SelectList)ViewBag.tipoPagos, "(Seleccione el Paciente)",
                                 new { @class = "form-select custom-select", @id = "tipoPagoSelect" })
                        <span asp-validation-for="TipoPago" class="text-danger"></span>
                    </div>

                    <div id="extraInputContainer" class="mb-3"></div>
                    <div id="extraFields" class="mb-4"></div>

                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-success " style="margin-right: 8px;">
                            <i class="fas fa-money-check-alt me-3"></i> Pagar
                        </button>

                        <a asp-controller="Paciente" asp-action="listaCitaPorPaciente" asp-route-ide_usr="@pacienteId"
                           class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-1"></i> Regresar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const select = document.getElementById("tipoPagoSelect");
            const extraFields = document.getElementById("extraFields");
            console.log("Script llamado")

            function updateFields() {
                const selected = select.options[select.selectedIndex].text.trim();
                extraFields.innerHTML = ""; // Limpiar campos previos

                // Mostrar campos extra solo si es tarjeta
                const tarjetas = ["VISA", "MASTERCARD", "AMEX", "DINERS CLUB"];
                if (tarjetas.includes(selected)) {
                    const extraInputs = `
                        <div class="form-group mt-2">
                            <label>Numero de tarjeta</label>
                            <input type="number" class="form-control" placeholder="00-000-0000" />
                        </div>
                        <div class="form-group mt-2">
                            <label>Fecha de caducidad</label>
                            <input type="month" class="form-control" placeholder="MM/AAAA" />
                        </div>
                        <div class="form-group">
                            <label>CVV</label>
                            <input type="text" class="form-control" maxlength="4" placeholder="123" />
                        </div>`;
                    extraFields.innerHTML = extraInputs;
                }
            }

            select.addEventListener("change", updateFields);
            updateFields(); // Ejecutar al cargar la vista por si ya hay algo seleccionado
        });
    </script>
}